

@using Shopping_Application.Models

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <h3>Products List</h3>
    @foreach (Product product in ViewBag.products)
    {
        <div class="row">
            <div class="col-md-4">
                <a href="@Url.Action("DetailView", "Product", new { id = product.Id })"><img src="~/Content/Images/@product.Photo" width="75" /></a>
            </div>
            <div class="col-md-4">
                <a href="@Url.Action("DetailView", "Product", new { id = product.Id })"><p>@product.Titel</p></a>
            </div>
            <div class="col-md-2">
                <p>@product.Price</p>
            </div>
            <div class="col-md-2">
                <p><a href="@Url.Action("Buy", "Cart", new { id = product.Id })">Buy Now</a></p>
            </div>
        </div>
     }

</body>
</html>

